<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Preguntas Frecuentes - Vixion</title>
    
    <link rel="stylesheet" href="../styles/global.css">
  </head>
  <body class="bg-gray-50 font-sans antialiased">
    <section class="py-5">
      <div class="mx-2 px-8 sm:px-10 lg:px-12 text-center">
       


        <div class="accordion-group">
          <div class="accordion py-8 px-6 border-b border-gray-200 rounded-2xl hover:bg-indigo-50 text-2xl bg-white">
            <button class="accordion-toggle flex justify-between w-full text-left hover:text-indigo-600">
              <h5>¿Cómo actualizo mi información de facturación?</h5>
              <svg class="text-gray-500 transition group-hover:text-indigo-600" width="22" height="22" viewBox="0 0 22 22"
                fill="none">
                <path d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
                  stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
            <div class="accordion-content w-full px-0 overflow-hidden max-h-0 transition-all duration-300 ease-in-out">
              <p class="text-base text-gray-900 leading-6">
                Para actualizar tu información de facturación, ve a la sección de configuración de tu cuenta y busca la opción de "Facturación".
              </p>
            </div>
          </div>
          
          <br>

          <div class="accordion py-8 px-6 border-b border-gray-200 rounded-2xl hover:bg-indigo-50 text-2xl  bg-white">
            <button class="accordion-toggle flex justify-between w-full text-left hover:text-indigo-600">
              <h5>¿Cómo puedo contactar al soporte al cliente?</h5>
              <svg class="text-gray-500 transition group-hover:text-indigo-600" width="22" height="22" viewBox="0 0 22 22"
                fill="none">
                <path d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
                  stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
            <div class="accordion-content w-full px-0 overflow-hidden max-h-0 transition-all duration-300 ease-in-out">
              <p class="text-base text-gray-900 leading-6">
                Para contactar al soporte al cliente, busca un botón o enlace de "Contáctanos" o "Ayuda" en el sitio web o plataforma. Podrás enviar un correo electrónico, llamar o chatear con el soporte al cliente para obtener asistencia.
              </p>
              </p>
            </div>
          </div>

          <br>

          <div class="accordion py-8 px-6 border-b border-gray-200 rounded-2xl hover:bg-indigo-50 text-2xl  bg-white" >
            <button class="accordion-toggle flex justify-between w-full text-left hover:text-indigo-600">
              <h5>¿Cómo puedo aumentar mi monto de crédito?</h5>
              <svg class="text-gray-500 transition group-hover:text-indigo-600" width="22" height="22" viewBox="0 0 22 22"
                fill="none">
                <path d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
                  stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
            <div class="accordion-content w-full px-0 overflow-hidden max-h-0 transition-all duration-300 ease-in-out">
              <p class="text-base text-gray-900 leading-6">
                El monto del crédito depende del puntaje de precalificación, que a su vez se basa en factores como el salario, la edad, el tiempo de cotización y el ahorro en la Subcuenta de Vivienda
              </p>
            </div>
          </div>
          
          <br>

          <div class="accordion py-8 px-6 border-b border-gray-200 rounded-2xl hover:bg-indigo-50 text-2xl  bg-white">
            <button class="accordion-toggle flex justify-between w-full text-left hover:text-indigo-600">
              <h5>¿Cómo consultar la nómina?</h5>
              <svg class="text-gray-500 transition group-hover:text-indigo-600" width="22" height="22" viewBox="0 0 22 22"
                fill="none">
                <path d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
                  stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
            <div class="accordion-content w-full px-0 overflow-hidden max-h-0 transition-all duration-300 ease-in-out">
              <p class="text-base text-gray-900 leading-6">
                Para consultar tu nómina, entra al portal de tu empresa (o del servicio de nómina que utilicen), inicia sesión con tu usuario y contraseña, y busca la sección de “Nómina” o “Recibos de pago”.
              </p>
            </div>
          </div>

          
        </div>
      </div>
    </section>

    <script src="/scripts/accordion.js" defer></script>

  </body>
</html>
