---
---

<header class="p-6 bg-black shadow-md flex justify-between items-center">
	<a href="/" class="flex items-center space-x-2">
	  <img src="/vixion.png" alt="Logo" class="h-8 w-8 object-contain" />
	  <span class="text-xl font-semibold text-white">Vixion</span>
	</a>
	
	<div class="flex space-x-6">
	  <!-- Combobox 1 -->
	  <div class="relative">
		<div id="trigger1" class="border-white px-5 py-1 rounded cursor-pointer font-bold flex items-center w-[150px] text-white hover:bg-gray-700 transition-colors" aria-expanded="false" aria-controls="dropdown1">
		  <img class="mr-2" width="20" src="/flecha.png" alt="" />
		  Servicios
		</div>
		<div id="dropdown1" class="rounded border border-gray-300 bg-white absolute top-[50px] w-[150px] shadow-md hidden" aria-labelledby="trigger1">
		  <div class="cursor-pointer hover:bg-gray-300 p-4 text-black">Contabilidad</div>
		  <div class="cursor-pointer hover:bg-gray-300 p-4 text-black">Nómina</div>
		  <div class="cursor-pointer hover:bg-gray-300 p-4 text-black">IMSS e INFONAVIT</div>
		  <div class="cursor-pointer hover:bg-gray-300 p-4 text-black">Capacitación</div>
		</div>
	  </div>
  
	  <!-- Combobox 2 -->
	  <div class="relative">
		<div id="trigger2" class="border-white px-5 py-1 rounded cursor-pointer font-bold flex items-center w-[150px] text-white hover:bg-gray-700 transition-colors" aria-expanded="false" aria-controls="dropdown2">
		  <img class="mr-2" width="20" src="/flecha.png" alt="" />
		  Contactanos
		</div>
		<div id="dropdown2" class="rounded border border-gray-300 bg-white absolute top-[50px] w-[150px] shadow-md hidden" aria-labelledby="trigger2">
		  <div class="cursor-pointer hover:bg-gray-300 p-4 text-black">Contactanos</div>
		</div>
	  </div>
  
	  <!-- Combobox 3 -->
	  <div class="relative">
		<div id="trigger3" class="border-white px-5 py-1 rounded cursor-pointer font-bold flex items-center w-[200px] text-white hover:bg-gray-700 transition-colors" aria-expanded="false" aria-controls="dropdown3">
		  <img class="mr-2" width="20" src="/flecha.png" alt="" />
		  Nosotros
		</div>
		<div id="dropdown3" class="rounded border border-gray-300 bg-white absolute top-[50px] w-[200px] shadow-md hidden" aria-labelledby="trigger3">
		  <div class="cursor-pointer hover:bg-gray-300 p-4 text-black">Nosotros</div>
		</div>
	  </div>
	</div>
  </header>